
@import '../node_modules/reset-css/sass/reset';

*{
 box-sizing:border-box;
}
font{
 font-size: 10px;
}
li{
 list-style:none;
}
button{
  margin:0;
  padding:0;
  border:0;
}
.header-container{
  z-index:999;
  width:100%;
  border-bottom:1px solid #ececec;
}
.header{
 max-width:1200px;
 width:100%;
 height:70px;
 margin:0 auto;
 display:flex;
justify-content:space-between;
align-items: center;
}
.logo{
 width:100px;
}

//멤버스
.member{
  width:180px;
  display:flex;
  justify-content: space-between;
}
.member button{
  height:35px;
  border:1px solid #353535;

}
.wish-list{
width:70px;
}
.login{
width:70px
}
//헤더 멤버스 스타일 끝


// 로그인 페이지 스타일

.login-section{
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
}
.login-form{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0 auto;
    width: 23%;
    height: 50vh;
  background:#fff;
  padding:7%;
}
 .login-form input,.login-form button{
   display:block;
   margin:10px auto;
   width:80%;
   height:50px;
 }
 .login-form input{
   padding-left:30px;
 }

 .login-form button{
   width:90%;
   margin-top:20px;
   background:#353535;
   color:#ececec;
 }
// 로그인 스타일 끝


//메인 상품리스트
.product-section{
  max-width:1200px;
  margin:400px auto 0;
  height:auto;
}
.product-list{

  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;

}
.product-item{
     margin: 17px auto;
    width: 31%;
    height: 523px;
    background: #e3e3e3;
}
.product-item:hover{
  border:1px solid #353535;
}
.main-product-detail{
 padding:6%;
}
.main-product-detail .title ,.main-product-detail .price{
  text-align:center;
  line-height: 3.2;
}

.main-product-detail .price{
  font-size:1rem;
  font-weight:bold;
   color:#b19683;
}
.main-product-detail .product_img{
  width:100%;
  height:350px;
  background:#fff;
  overflow:hidden;
}
.product_img img{
  width:100%;
}
//메인 상품리스트 스타일

//상품 디테일 페이지
.product-detail-page{

  width:100%;
  height:100%;
 background:#fff;
}

.inner-detail-page{
  width:100%;
  max-width:1200px;
  margin:180px auto 0;

}
.detail-page-product-img{
  float:left;
  width:45%;
  height:350px;
  background:#ececec;
  overflow:hidden;
}
.product-explanation{
  float:left;
  padding-left: 5%;
  line-height:2.1;
}


.detail-page-title{
  font-size:1.2rem;
  padding-bottom:8%;
  border-bottom:1px solid #353535;
  margin-bottom:35px;
}
